data/test/*
data/train/*.DS_Store
*.DS_Store
*.vscode
data/train/*
data/train/*
src_code/__pycache__/*
*/models/*
**/models/*
data/train-custom/*
data/valid-custom/*
data/competition_test/*
data/competition_test-custom/*
